@page
@model MiCamioncito.Pages.Vehicles.IndexModel
@{
}
<br>
<h2>Lista de Vehiculos</h2>
<a class="btn btn-primary btn-sm" href='/Vehicles/Create'>Agregar Vehiculo</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Marca</th>
            <th>Año</th>
            <th>Capaci</th>
            <th>Combusti</th>
            <th>Ubicacion</th>
            <th>Depreciacion</th>

            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.listVehicles)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.brand</td>
                <td>@item.year</td>
                <td>@item.capacity</td>
                <td>@item.consume</td>
                <td>@item.address</td>
                <td>@item.depreciation </td>

                <td>
                    <a class="btn btn-primary btn-sm" href="/Vehicles/Edit?id=@item.id">Editar</a>
                    <a class="btn btn-danger btn-sm" href="/Vehicles/Delete?id=@item.id">Eliminar</a>
                </td>
            </tr>
        }

    </tbody>
</table>